---
---

@charset "utf-8";
// see https://fonts.google.com/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$black: #000;

$width: 650px;
$height: 100px;

%gray { color: lighten($black, 50); }

.gray { @extend %gray; }

%center { text-align: center; }

.center { @extend %center; }

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  padding: 2em;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: $width;
}

header {
  @extend %center;

  input {
    border: 1px solid $black;
    max-width: 100%;
    padding: .2em .6em;
  }

  .photo {
    height: 100px;
    width: 100px;
  }

  form,
  nav {
    margin: .4em 0;
  }

  ul li {
    display: inline;
    margin-right: .4em;
  }
}

img {
  display: block;
  height: auto;
  margin-bottom: .5em;
  margin-top: 2em;
  max-height: 400px;
  position: center;
  width: $width;
}

// scss-lint:disable MergeableSelector
img + em {
  display: block;
  margin-bottom: 2em;
  text-align: left;
}

article {
  margin: 4em 0;

  h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 2em;
  }

  h2 {
    font-size: 1.4em;
    font-weight: bold;
  }

  p,
  ul,
  ol {
    margin-bottom: .5em;
    margin-top: .5em;
  }

  ul,
  ol {
    margin-left: 3em;
  }
}

footer {
  @extend %gray;
  @extend %center;
  font-size: .8em;
}

.disqus {
  margin: 4em 0;
}
